<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form>
    <table>
      <tr>
        <td><input type="text" placeholder="Name" #namefield></td>
        <td><input type="text" placeholder="Game" #gamefield></td>
        <td><input type="button" (click)="updatePlayerGameMapping(namefield.value,gamefield.value)" value="Update"/></td>
      </tr>
    </table>
  </form>
  <div>
    <h2>Spielerliste</h2>
    <div *ngIf="playerGameMapping">
    <table>
      <tr>
        <th>Player</th>
        <th>Game</th>
      </tr>

      <tr *ngFor="let mapping of playerGameMapping.playergamemapping">
        <td>{{mapping.player}}</td>
        <td>{{mapping.game}}</td>
      </tr>
    </table>
    </div>
  </div>
  <div>
    <h2>Serverlist</h2>
    <div *ngIf="Gameserver2ipWraper" style="float: left;">
    <table>
        <tr>
            <th>Server</th>
            <th>IP</th>
        </tr>
        <tr *ngFor="let mapping of Gameserver2ipWraper.gameserver2IP">
            <td>{{mapping.server}}</td>
            <td>{{mapping.ip}}</td>
        </tr>
    </table>
  </div>
  </div>
</div>

